<!DOCTYPE html >
<html>
<head>
    <title>Extend CanvasRender2D</title>
    <style>
        #canvas
        {
            position: absolute;
            left: 0px;
            top: 20px;
            margin: 20px;
            background: #ffffff;
            border: thin inset rgba(100,150,230,0.5);
            cursor: default;
        }
    </style>
</head>
<body>
    <canvas id='canvas' height='500' width='700'>
        Canvas not supported
    </canvas>
    <script src='~/Scripts/Apps/extendcanvasrender2d.js'></script>
</body>
</html>