<!DOCTYPE html >
<html>
<head>
    <title>Simple Rectangles</title>

    <style>
        #canvas {
            position: absolute;
            left: 10px;
            top: 1.5em;
            margin: 20px;
            border: thin solid #aaaaaa;
        }
    </style>
</head>
<body>

    <canvas id='canvas' width='600' height='600'>
    
    </canvas>
        
    <script src='~/Scripts/Apps/simpleRec.js'></script>
</body>
</html>