<!DOCTYPE html>
<head>
    <title>Insert Shadows</title>
    <style>
        #canvas {
            background: #eeeeee;
            border: thin solid cornflowerblue;
            width: 1100;
            height: 650;
        }
    </style>
</head>
<body>
    <canvas id='canvas' width='1100' height='650'>
        Canvas not supported
    </canvas>
    <script src='~/Scripts/Apps/strokeandfill.js'></script>
</body>
</html>