<!DOCTYPE html >
<html>
<head>
    <title>A dial</title>
    <style>
        #canvas
        {
            position: absolute;
            margin-left: 10px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <canvas id='canvas' width='900' height='600'>
        Canvas not supported
    </canvas>
    <script src='~/Scripts/Apps/dial.js'></script>
</body>
</html>