<!DOCTYPE htmal>
<html>
<head>
    <title>Drawing An Image</title>
    <style>
        #controls {
            position: absolute;
            left: 10px;
            top: 10px;
        }
        #canvas
        {
            position: absolute;
        }
    </style>
</head>
<body>
    <canvas id='canvas' width='900' height='500'>
        not support canvas
    </canvas>
    <div id='controls'>
        Check Scale: <input id='scaleCheckbox' type='checkbox' />
    </div>
    <script src='~/Scripts/Apps/drawingimage.js'></script>
</body>
</html>