<!DOCTYPE html >
<html>
<head>
    <title>Filling text with color gradients and patterns</title>
    <style>
        #canvas
        {
            position: absolute;            
        }
    </style>
</head>
<body>
    <canvas id='canvas' width='900' height='500'>
        canvas dont support
    </canvas>

    <script src='~/Scripts/Apps/fillcolorgradientspatterns.js'></script>
</body>
</html>   