<!DOCTYPE html>
<html>
<head>
    <title>A Simple Text Cursor</title>    
</head>
<body>
    <canvas id='canvas' width='780' height='440'>
        Canvas not supported
    </canvas>

    <script src='~/Scripts/Apps/textcursors.js'></script>
    <script src='~/Scripts/Apps/simpletextcursor.js'></script>
</body>
</html>